<%= form_with(model: edible, local: true) do |form| %>
  <% if edible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edible.errors.count, "error") %> prohibited this edible from being saved:</h2>

      <ul>
      <% edible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :edible_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :edible_price %>
  </div>

  <div class="field">
    <%= form.label :thc %>
    <%= form.number_field :thc, id: :edible_thc %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :edible_description %>
  </div>

  <div class="field">
    <%= form.label :indica_id %>
    <%= form.number_field :indica_id, id: :edible_indica_id %>
  </div>

  <div class="field">
    <%= form.label :sativa_id %>
    <%= form.number_field :sativa_id, id: :edible_sativa_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
