<%= form_with(model: edible, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :edible_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :edible_price %>
  </div>

  <div class="field">
    <%= form.label :thc %>
    <%= form.number_field :thc, id: :edible_thc %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :edible_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
