<p id="notice"><%= notice %></p>

<h1>Edibles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Thc</th>
      <th>Description</th>
      <th>Indica</th>
      <th>Sativa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edibles.each do |edible| %>
      <tr>
        <td><%= edible.name %></td>
        <td><%= edible.price %></td>
        <td><%= edible.thc %></td>
        <td><%= edible.description %></td>
        <td><%= link_to 'Show', edible %></td>
        <td><%= link_to 'Edit', edit_edible_path(edible) %></td>
        <td><%= link_to 'Destroy', edible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edible', new_edible_path %>
