<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edible.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @edible.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @edible.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @edible.description %>
</p>

  <% if current_user %>
    <%= link_to 'Add Review', new_edible_review_path(@edible) %>
  <% end %>


  <% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_edible_path(@edible) %> |
  <% end %>


<%= link_to 'Back', edibles_path %>
