<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edible.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @edible.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @edible.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @edible.description %>
</p>

<p>
  <strong>Indica:</strong>
  <%= @edible.indica_id %>
</p>

<p>
  <strong>Sativa:</strong>
  <%= @edible.sativa_id %>
</p>

<%= link_to 'Edit', edit_edible_path(@edible) %> |
<%= link_to 'Back', edibles_path %>
