<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edible.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%=  @edible.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @edible.thc %>%
</p>

<p>
  <strong>Description:</strong>
  <%= @edible.description %>
</p>

  <% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_edible_path(@edible) %> |
  <% end %>

<h3>Reviews</h3>
  <div class="row">
    <% if @edible.reviews.any? %>
      <% @edible.reviews.each do |review| %>
        <div class="col col-lg-4">
          <div class="card review">
            <div class="card-block">
                <h4 class="card-title"> <%= review.reviewer %> </h4>
                <p class="card-text"><%= review.review_content %> </p>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>

<br>
<%= link_to 'Add Review', new_edible_review_path(@edible) %> |
<%= link_to 'Back', edibles_path %> |
<%= link_to 'Home', "/" %>
