<p id="notice"><%= notice %></p>

<h1>Others</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @others.each do |other| %>
      <tr>
        <td><%= other.name %></td>
        <td>$<%= other.price %></td>
        <td><%= other.description %>%</td>
        <td><%= link_to 'Show', other %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'New Other', new_other_path %></td>
        <td><%= link_to 'Edit', edit_other_path(other) %></td>
        <td><%= link_to 'Destroy', other, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', "/" %>
