<p id="notice"><%= notice %></p>

<h1>Others</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Thc</th>
      <th>Description</th>
      <th>Indica</th>
      <th>Sativa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @others.each do |other| %>
      <tr>
        <td><%= other.name %></td>
        <td><%= other.price %></td>
        <td><%= other.thc %></td>
        <td><%= other.description %></td>
        <td><%= other.indica_id %></td>
        <td><%= other.sativa_id %></td>
        <td><%= link_to 'Show', other %></td>
        <td><%= link_to 'Edit', edit_other_path(other) %></td>
        <td><%= link_to 'Destroy', other, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Other', new_other_path %>
