<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @other.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @other.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @other.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @other.description %>
</p>

<p>
  <strong>Indica:</strong>
  <%= @other.indica_id %>
</p>

<p>
  <strong>Sativa:</strong>
  <%= @other.sativa_id %>
</p>

<%= link_to 'Edit', edit_other_path(@other) %> |
<%= link_to 'Back', others_path %>
