<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @other.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @other.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @other.description %>
</p>

  <% if current_user %>
    <%= link_to 'Add Review', new_other_review_path(@other) %>
  <% end %>


  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_other_path(@other) %> |
  <% end %>

<%= link_to 'Back', others_path %>
