<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flower.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @flower.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flower.description %>
</p>


<%= link_to 'Add Review', new_flower_review_path(@flower) %>


<strong>Reviews:</strong>
      <% if @flower.reviews.any? %>
      <ul>
        <% @flower.reviews.each do |review| %>
          <li><strong>Author:</strong> <%= review.title %> </li>
          <br>
          <li><strong>What I Thought:</strong> <%= review.content %> </li>
          <br>
        <% end %>
      </ul>
      <% end %>

<%= link_to 'Edit', edit_flower_path(@flower) %> |
<%= link_to 'Back', flowers_path %>
