<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @flower.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%=  @flower.thc %>%
</p>

<p>
  <strong>Description:</strong>
  <%= @flower.description %>
</p>

  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_flower_path(@flower) %> |
  <% end %>


  <br>

<h3>Reviews</h3>
  <div class="row">
    <% if @flower.reviews.any? %>
      <% @flower.reviews.each do |review| %>
        <div class="col col-lg-4">
          <div class="card review">
            <div class="card-block">
              <p class="card-text">"<%= review.review_content %>"</p>
              <h4 class="card-title"> - <%= review.reviewer %> </h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<br>
<%= link_to 'Add Review', new_flower_review_path(@flower) %> |
<%= link_to 'Back', flowers_path %> |
<%= link_to 'Home', "/" %>
