<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flower.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @flower.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flower.description %>
</p>

  <% if current_user %>
    <%= link_to 'Add Review', new_flower_review_path(@flower) %>

  <% end %>


  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_flower_path(@flower) %> |
    <%= link_to 'Back', flowers_path %>
  <% end %>
