<p id="notice"><%= notice %></p>

<h1>Pre Rolls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Thc</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_rolls.each do |pre_roll| %>
      <tr>
        <td><%= pre_roll.name %></td>
        <td><%= pre_roll.price %></td>
        <td><%= pre_roll.thc %></td>
        <td><%= pre_roll.description %></td>
        <td><%= link_to 'Show', pre_roll %></td>
        <td><%= link_to 'Edit', edit_pre_roll_path(pre_roll) %></td>
        <td><%= link_to 'Destroy', pre_roll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre Roll', new_pre_roll_path %>
