<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pre_roll.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pre_roll.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @pre_roll.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pre_roll.description %>
</p>

<p>
  <strong>Indica:</strong>
  <%= @pre_roll.indica_id %>
</p>

<p>
  <strong>Sativa:</strong>
  <%= @pre_roll.sativa_id %>
</p>

<%= link_to 'Edit', edit_pre_roll_path(@pre_roll) %> |
<%= link_to 'Back', pre_rolls_path %>
