<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pre_roll.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pre_roll.price %>
</p>

<p>
  <strong>Thc:</strong>
  <%= @pre_roll.thc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pre_roll.description %>
</p>


    <%= link_to 'Add Review', new_flower_pre_roll_path(@pre_roll) %>



  <% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_pre_roll_path(@pre_roll) %> |
  <% end %>


<%= link_to 'Back', pre_rolls_path %>
